.pure-button-primary {
    background-color: #205bb0;
}

.pure-menu-link {
    color: white;
    cursor: pointer;
    user-select: none;
}

.pure-menu-link:hover{
    color: #e75c29;
}

.pure-menu-link:hover ,.pure-menu-active{
    background-color: #24478e;
    border-radius: 7px;
}

.pure-menu-link:focus {
    background-color: #24478e;
}

.pure-form select:focus {
    border-color: #205bb0;
}

.warnings-container {
    position: relative;
    color: rgb(251, 215, 112);
    background-color: rgb(81, 62, 0);
    border-color: rgb(123, 92, 0);
    border-radius: .25rem;
    padding: .25rem .25rem;
    margin-bottom: 1rem;
    padding-right: 4rem;
}

.close-warnings {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    /*padding: .75rem 1.25rem;*/
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: rgb(121, 101, 43);
    text-shadow: 0 1px 0 #fff;
    opacity: .7;
}

