body {
    font-size: 12px;
}

hr {
    background-color: #e5e5e5;
    height: 1px;
    border: 0;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.search-bar {
    display: block;
    position: relative;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.lsv-container > div {
    text-align: left;
    display: inline-grid;
}

.lsv-container > div > div {
    padding-bottom: 10px;
}

.lsv-container {
    text-align: center
}

.excl-incl-rect {
    width: 200px;
    margin: 0;
}

.index-header {
    margin-bottom: 25px;
    position: relative;

}

.index-header > a {
    position: absolute;
    right: 3px;
    bottom: 3px;
    text-decoration: none;
    color: #225bae;
    font-weight: bold;
    font-size: 14px;
}



.footer {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: lighter;
}

#het_grp_comp_tbl thead th{
    transform: rotate(-45deg);
    text-align: center;
    padding-left: 20px;
    z-index:-100;
    position:relative;

}
#het_grp_comp_tbl th{
    white-space: nowrap;


}
#het_grp_comp_tbl tbody th{
    width:100%;
    text-align: right;
    padding-right: 2px;

}
#het_grp_comp_tbl td{
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

#het_grp_comp_tbl_load{
    position: absolute;
    background-color: #FFFFFF77;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    display: none;
}

#het_grp_comp_tbl td:hover, het_grp_comp_tbl td *:hover{
    background-color: #ff000057;
    cursor: pointer;
}

#het_grp_comp_tbl td input{
    position: relative;
    z-index: -100;
}

#het_grp_comp_tbl .het-grp-toggle:hover{
    background-color: rgba(20, 155, 245, 0.47);
    cursor: pointer;
}

#het_grp_comp_tbl .nopointer:hover{
    cursor: not-allowed;
}
