body {
    font-size: 12px;
    position: absolute;
    height: 100%;
    width: 100%
}

.bottom {
    background-color: #c0d8ee;
}

table {
    background-color: white
}

.dataTables_wrapper{
    max-width: 100%;
    overflow: auto;
}

.menu {
    background-color: #205bb0;
    color: white;
    position: absolute;
    z-index: 12
}

.tools-menu.hide-tools-menu {
    transform: translateY(-100%);
    box-shadow: none;
    transition: all 100ms ease
}

.tools-menu {
    transition: all 100ms ease;
    background-color: #c0d8ee;
    color: black;
    z-index: 11;
    position: absolute;
    width: 100%;
    top: 45px;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, .3)
}

.gene-header {
    background: white;
    position: absolute;
    top: 45px;
    z-index: 2;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gene-header > div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}

.gene-header .gene-name {
    font-size: 20px;
    color: #205bb0;
    font-weight: bold
}

.coordinates {
    font-size: 14px;
    color: #205bb0;
    padding-top: 5px;
    height: 20px;
}



.gene-header .gene-id {
    font-size: 16px;
    font-weight: bold;
    color: #e75c29
}

.gene-header .gene-overlap {
    max-width: 600px;
    color: #e75263
}

.splice-graph-container {
    background-color: white;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.splice-graph-container svg {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.lsv-container > div {
    text-align: center;
    display: inline-grid;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px
}

.lsv-container {
    text-align: center
}

.menu-right {
    float: right
}

.splice-graph-header {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    color: #205bb0

}

.splice-graph-lr-transcript-reads {
    color: #28105c;

}

.splice-graph-header > * {
    display: inline-grid;
    margin-right: 10px;
    vertical-align: middle
}

.content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 158px);
    position: absolute;
    top: 158px;
    width: 100%
}

.content-maximized{
    height: calc(100% - 45px) !important;
    top: 45px !important;
}

.top {
    border-bottom: solid lightgrey 1px;
    max-height: 50%;
    flex-shrink: 0;
    overflow-y: auto;
    background-color: white
}

.bottom {
    overflow-y: auto
}

.lsv-header {
    background-color: white;
    padding: 10px;
    border-top: solid lightgray 1px;
    border-right: solid lightgray 1px;
    border-left: solid lightgray 1px
}

.lsv-header > * {
    display: inline-grid;
    vertical-align: middle;
    margin-right: auto;
}

form.het-highlight-form label {
    width: 5em !important;
}

.reads-filter, .mouseover-filter, .select-filter {
    opacity: .2;
}

.mouseover .junction, .select .junction, .mouseover .intron-retention, .select .intron-retention, .mouseover .exon, .select .exon {
    stroke: orange;
    stroke-width: 3px
}

.mouseover .intron-retention, .select .intron-retention, .mouseover .exon, .select .exon {
    fill: orange;
}

.mouseover .junction-reads,
.select .junction-reads,
.select .intron-retention-reads,
.mouseover .intron-retention-reads {
    font-size: 14px
}

.mouseover, .select {
    opacity: 1;
}

.junction-reads, .intron-retention-reads {
    cursor: default;
    user-select: none;
}

.excl-incl-rect {
    width: 200px;
    margin: 0;
}

.highlight-form {
    width: 100px;
}

.highlight-form label {
    text-align: right;
    display: block;
    margin-bottom: 10px;
}

.highlight-form input {
    margin-left: 4px;
}

.legend {
    padding: 5px;
    background: #fffec9;
    border: 2px solid #fc0;
    border-radius: 5px;
}

.denovo-ext, .exon-number {
    pointer-events: none;
}

.toggle-scale, .zoom-in, .zoom-out, .zoom-reset, .splice-graph-header img, .violin-download, .heatmap-download{
    cursor: pointer;
}

.toggle-scale:hover, .zoom-in:hover, .zoom-out:hover, .zoom-reset:hover, .splice-graph-header img:hover, .violin-download:hover, .heatmap-download:hover{
    box-shadow: 0 0 12px #ffd400;
}



.violin-download, .heatmap-download{
    float:left;
}

.tmp-alert{
    position: fixed;
    top: 9%;
    z-index:1000;
    font-size:16px;
    left: 50%;
    background-color: #ffb2b0;
    border: #ff6864 solid 2px;
    padding:20px;
    border-radius: 10px;
    transform: translate(-50%, 0);

}

.top{
    position:relative;
}
.top::after {
    content: '';
    display: block;
    background: repeating-linear-gradient(#dbb30f, #dbb30f 1px, #211e00 1px, #211e00 2px);
    position: sticky;
    bottom: 0;
    height: 4px;
    width: 100%;
    cursor: ns-resize;
    z-index: 10;
}

.pure-form .upper-fieldset-group{
    border: dashed #2458d5 1px;
    padding: 2px;
    margin: 3px;
    border-radius: 6px;
}

#lock-lr-psi-filter {
    display:none;
}

#lock-lr-psi-filter + label
{
    background: url("/static/img/unlock.svg");
    height: 16px;
    width: 12px;
    display:inline-block;
    padding: 0 0 0 0px;
}
#lock-lr-psi-filter:checked + label
{
    background: url("/static/img/lock.svg");
    height: 16px;
    width: 12px;
    display:inline-block;
    padding: 0 0 0 0px;
}

/*
Fancy radio button style thing
 */
.view-toggles {
    font-size: 12px;
    color: black;
    display:grid;
    place-content: center;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 4px;
}

.view-toggles .form-control {
    font-family: system-ui, sans-serif;
    font-size: 0.94rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}



.view-toggles .form-control:focus-within {
    color: rebeccapurple;
}

.view-toggles input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: white;
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0%;
    transform: translateY(-0.075em) rotateZ(45deg);

    display: grid;
    place-content: center;
}

.view-toggles input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 0%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em rebeccapurple;


}

.view-toggles input[type="radio"]:checked::before {
    transform: scale(1);
}

.view-toggles input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

/*
End Fancy radio button style thing
 */

.psi-violin-plot text:hover{
    fill: orange;
}