*.pyc
*.c
!voila/c/sqlite3.c
majiq/rna_majiq/src/*.cpp
majiq/rna_majiq/c/*.cpp
.DS_Store
.idea
voila/templates/.idea
voila/templates/static/matrix_plots
build/
voila/templates/spliceGraphD3.html
*.log
voila/sandbox/*
dist/*.egg
majiq/rna_majiq.egg-info
voila/rna_voila.egg-info
rna_majiq_meta.egg-info
*/git_version
*.so

/doc/build
/doc/source/generated

.ipynb_checkpoints
