# This file is redundant with setup.cfg;
# It exists to note direct dependencies for both setup and installation in case
# users need it for debugging.

# setup
setuptools >= 61
wheel
setuptools_scm >= 6.2

# installation
Click
cryptography
Flask
Flask-Session
Flask-WTF
gitdb2
GitPython
gtfparse
gunicorn == 23.0.0
h5py
intervaltree
itsdangerous
Jinja2
MarkupSafe
networkx
numpy
pandas
polars
psutil
pyarrow == 16.1.0
requests
scipy
six
smmap2
tqdm
waitress
Werkzeug
WTForms
