{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/summary.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/lib/single-file.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lsvtools.js') }}"></script>
    <script>
        const legend = document.querySelector('.legend');
        if(longread_enabled){
            new Lsv().renderFloatingLegendLr(legend);
        }else{
            new Lsv().renderFloatingLegend(legend);
        }

        // const legend_lr = document.querySelector('.legend-lr');
        // new Lsv().renderFloatingLegendLr(legend_lr)
        var highlightFirst = false;
        const gene_name = "{{ gene.name }}";
        const gene_id = "{{ gene.id }}";

        // resizing of the upper part of the page
        const BORDER_SIZE = 4;
        const panel = $('.top')[0];

        let violin_fixed_width = undefined;

        let m_pos;
        function resize_sgbox(e){
            const dy = m_pos - e.y;
            m_pos = e.y;
            panel.style['max-height'] = (parseInt(getComputedStyle(panel, '').height) - dy) + "px";
        }

        panel.addEventListener("mousedown", function(e){
            if (e.offsetY > parseInt(getComputedStyle(panel, '').height) - BORDER_SIZE) {
                m_pos = e.y;
                document.addEventListener("mousemove", resize_sgbox, false);
            }
        }, false);

        document.addEventListener("mouseup", function(){
            document.removeEventListener("mousemove", resize_sgbox, false);
        }, false);

        const sg_simplified_view = "{{ session.get('omit_simplified', False) }}";
        if (sg_simplified_view === 'True') $('#sg-simplified-view').prop('checked', true);
        $('#sg-simplified-view').change(function(){
            json_ajax('/toggle-simplified')
            .then(() => location.reload());
        });

        function sanitize_downloaded_html(original_content){
            let sanitized = document.createElement( 'html' );
            sanitized.innerHTML = original_content;
            sanitized.querySelectorAll('.rm-dl, #results_filter, #results_length, #results_paginate,' +
                ' .splice-graph-remove, .splice-graph-download, .copy-lsv, .save-lsv, .violin-download').forEach(function(a){
                a.remove()
            })
            sanitized.querySelectorAll('.heatmap-download').forEach(function(a){
                a.style.visibility = 'hidden';
            })
            sanitized.querySelectorAll('input').forEach(function(a){
                a.disabled = true;
            })
            // sanitized.getElementById('results_filter').remove();
            // sanitized.getElementById('results_length').remove();
            // sanitized.getElementById('results_paginate').remove();
            return sanitized.outerHTML;
        }

        $('.page-download').click(async function(){
            const { content, title, filename } = await singlefile.getPageData({
                removeImports: true,
                removeScripts: true,
                removeAudioSrc: true,
                removeVideoSrc: true
            });
            save_html_file(sanitize_downloaded_html(content), `voila-${gene_name}-${gene_id}.html`);
        })

    </script>
    {% block analysis_type_script %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="menu pure-menu pure-menu-horizontal">
        <a href class="pure-menu-heading">
            <img height="30" src="{{ url_for('static', filename='img/LogoOnly_white.svg') }}">
        </a>
        <ul class="pure-menu-list rm-dl">
            <li class="pure-menu-item">
                <a href="{{ url_for('main.index') }}" class="pure-menu-link">Index</a>
            </li>
            <li class="pure-menu-item">
                <span class="tools-menu-btn pure-menu-link" id="splice-graph-menu-btn">Splice Graph</span>
            </li>
            {% if analysis_type in ('heterogen', 'multipsi') %}
                <li class="pure-menu-item">
                    <span class="tools-menu-btn pure-menu-link" id="plot-options-menu-btn">Plot Options</span>
                </li>
            {% endif %}
            <li class="pure-menu-item">
                <span class="tools-menu-btn pure-menu-link" id="splice-graph-toggle-btn">Toggle Splice Graph</span>
            </li>
        </ul>

        <ul class="menu-right pure-menu-list rm-dl">
            <li class="pure-menu-item">
                <img height="30" class="page-download pure-menu-link"
                     src="{{ url_for('static', filename='img/floppy.svg') }}">
            </li>
            <li class="pure-menu-item">
                <img height="30" class="prev-gene pure-menu-link"
                     src="{{ url_for('static', filename='img/left_arrow.svg') }}">
            </li>
            <li class="pure-menu-item">
                <img height="30" class="next-gene pure-menu-link"
                     src="{{ url_for('static', filename='img/right_arrow.svg') }}">
            </li>

        </ul>
    </div>





    <div class="gene-header">
        <div>
            <div class="gene-name">Gene
                name: {{ gene.name }}; {{ gene.chromosome }}:{{ gene.strand }}:{{ gene.start }}-{{ gene.end }};
            </div>
            <div class="gene-id">
                Gene ID: {{ gene.id }};
            </div>
            {% if gene.overlap %}
                <div class="gene-overlap">
                    <strong>Note:</strong> overlaps with the following Genes:
                    {% set sep = joiner(" ; ") %}
                    {% for _gene in gene.overlap %}
                        {{ sep() }}<a href="{{ url_for('main.gene', gene_id=_gene[0])}}">{{ _gene[1] }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            <a class="ucsc-gene" target="_blank" rel="noopener noreferrer" href="{{ url_for('main.generate_ucsc_link', gene_id=gene.id) }}">
                <img src="{{ url_for('static', filename='img/ucsc.png') }}">
            </a>
        </div>
        <div>
            <img class="toggle-scale rm-dl" src="{{ url_for('static', filename='img/solve-icon16.png') }}">
            <img class="zoom-in rm-dl" src="{{ url_for('static', filename='img/zoom_in.png') }}">
            <img class="zoom-out rm-dl" src="{{ url_for('static', filename='img/zoom_out.png') }}">
            <img class="zoom-reset rm-dl" src="{{ url_for('static', filename='img/undo.png') }}">
        </div>
        <div>
            <div style="display: inline-block;">
                <canvas width="800px" height="40px" class="legend"></canvas>
            </div>
            <div class="view-toggles" {% if not vconf["long_read_file"] %}style="display: none;"{% endif %}>
                <label class="form-control">
                    <input id="sg-toggle-all" type="radio" name="sg-toggles" value="" checked>
                    Show All
                </label>
                <label class="form-control">
                    <input id="sg-toggle-sr" type="radio" name="sg-toggles" value="s,sl">
                    SR Relevant
                </label>
                <label class="form-control">
                    <input id="sg-toggle-lr" type="radio" name="sg-toggles" value="l,la,sl">
                    LR Relevant
                </label>
                <label class="form-control">
                    <input id="sg-toggle-srlr" type="radio" name="sg-toggles" value="s,l,la,sl">
                    SR or LR Relevant
                </label>
            </div>
            <div class="coordinates"></div>
        </div>

    </div>

    <div class="tools-menu hide-tools-menu pure-g" id="splice-graph-tools-box">
        <div class="pure-u-1-5">
            <form class="splice-graph-form pure-form pure-form-aligned">
                <fieldset>
                    <div class="groups pure-control-group">
                        <label for="groups">Groups</label>
                        <select id="groups"></select>
                    </div>

                    <div class="experiments pure-control-group">
                        <label for="experiments">Experiments</label>
                        <select id="experiments">
                        </select>
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Add</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="pure-u-1-5">
            <form class="splice-graph-form-lr pure-form pure-form-aligned" {% if not vconf["long_read_file"] %}style="display: none;"{% endif %}>
                <fieldset>
                    <div class="experiments pure-control-group">
                        <label for="experiments_lr">Long Read Experiments</label>
                        <select id="experiments_lr">
                            <option>LR1</option>
                        </select>
                    </div>

                    <div class="pure-controls">
                        <button type="submit" id="londread_submit" class="pure-button pure-button-primary">Add</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="pure-u-1-5">
            <form class="splice-graph-form pure-form pure-form-aligned">
                <fieldset class="upper-fieldset-group">
                    <div class="pure-control-group">
                        <label style="text-align: left;font-weight: 900;">Short Reads</label>
                    </div>
                    <div class="pure-control-group">
                        <label for="junction-reads-filter">Reads Filter</label>
                        <input id="junction-reads-filter" type="checkbox" {% if not disable_reads_filter %}checked{% endif %}>
                    </div>
                    <div class="junction-filter pure-control-group">
                        <label for="reads-greater-than">Reads Greater Than</label>
                        <input id="reads-greater-than" value="0">
                    </div>
                    <div class="junction-filter pure-control-group">
                        <label for="reads-less-than">Reads Less Than</label>
                        <input id="reads-less-than">
                    </div>
                    <div class="pure-control-group">
                        <label for="junction-psi-filter">PSI Filter</label>
                        <input id="junction-psi-filter" type="checkbox">
                    </div>
                    <div class="junction-filter pure-control-group">
                        <label for="psi-greater-than">Psi Greater Than</label>
                        <input id="psi-greater-than" value="0">
                    </div>
                    <div class="junction-filter pure-control-group">
                        <label for="psi-less-than">Psi Less Than</label>
                        <input id="psi-less-than">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="pure-u-1-5">
            <form class="splice-graph-form pure-form pure-form-aligned" {% if not vconf["long_read_file"] %}style="display: none;"{% endif %}>
                <fieldset class="upper-fieldset-group">
                    <div class="pure-control-group">
                        <label style="text-align: left;font-weight: 900;">Long Reads</label>
                    </div>
                    <div class="pure-control-group">
                        <label for="junction-lr-reads-filter">Reads Filter</label>
                        <input id="junction-lr-reads-filter" type="checkbox" checked>
                    </div>
                    <div class="junction-filter pure-control-group">
                        <label for="lr-reads-greater-than">Reads Greater Than</label>
                        <input id="lr-reads-greater-than" value="0">
                    </div>
                    <div class="junction-filter pure-control-group">
                        <label for="lr-reads-less-than">Reads Less Than</label>
                        <input id="lr-reads-less-than">
                    </div>
                    <div class="pure-control-group">


                        <label for="junction-lr-psi-filter">PSI Filter</label>
                        <input id="junction-lr-psi-filter" type="checkbox">
                        <label for="lock-lr-psi-filter">Lock to short read</label>
                        <input type='checkbox' id="lock-lr-psi-filter" checked><label for="lock-lr-psi-filter"></label>
                    </div>
                    <div class="junction-filter pure-control-group">
                        <label for="lr-psi-greater-than">Psi Greater Than</label>
                        <input id="lr-psi-greater-than" value="0">
                    </div>
                    <div class="junction-filter pure-control-group">
                        <label for="lr-psi-less-than">Psi Less Than</label>
                        <input id="lr-psi-less-than">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="pure-u-1-5">
            <form class="splice-graph-form pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="sg-simplified-view">Simplified View</label>
                        <input id="sg-simplified-view" type="checkbox">
                    </div>
                </fieldset>
            </form>
        </div>

    </div>

    {% block het_groups_form %}{% endblock %}


    <div class="tools-menu lsv-tools hide-tools-menu pure-g">
        <div class="pure-u-1-2">
            <form class="lsv-filters pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="prime-5">5 Prime</label>
                        <input type="checkbox" id="prime-5">
                    </div>
                    <div class="pure-control-group">
                        <label for="prime-3">3 Prime</label>
                        <input type="checkbox" id="prime-3">
                    </div>
                    <div class="pure-control-group">
                        <label for="exon-skipping">Exon Skipping</label>
                        <input type="checkbox" id="exon-skipping">
                    </div>
                    <div class="pure-control-group">
                        <label for="target">Target</label>
                        <input type="checkbox" id="target">
                    </div>
                    <div class="pure-control-group">
                        <label for="source">Source</label>
                        <input type="checkbox" id="source">
                    </div>
                    <div class="pure-control-group">
                        <label for="binary">Binary</label>
                        <input type="checkbox" id="binary">
                    </div>
                    <div class="pure-control-group">
                        <label for="complex">Complex</label>
                        <input type="checkbox" id="complex">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


    <div class="content">
        <div class="top">
            <div class="splice-graph-container default-view"></div>
        </div>


        <div class="bottom">
            {% if session.get('warnings', []) %}
            <div class="warnings-container">
                <ul>
                    {% for warning in session['warnings'] %}
                    <li>
                        {{ warning }}
                    </li>
                    {% endfor %}
                </ul>
                <button type="button" class="close-warnings">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            {% endif %}
            {% block bottom %}{% endblock %}
        </div>

    </div>
{% endblock %}