{% set vconf = config["VOILA_CONFIG"] %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lsv.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/copy_lsv.css') }}">
    {% block style %}{% endblock %}

</head>
<body>
<div class="modal">
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <p> Copy LSV text below:</p>
        <input type="text" title="copy-lsv" placeholder="Getting LSV text...">
    </div>
</div>

{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}

</body>
<script>
    const base_url = '{{ config["EXT_URL_PREFIX"] }}';
    const longread_enabled = {{ "true" if vconf["long_read_file"] else "false" }};
    const combined_colors = {
        'sla': '#332288',
        'sl': '#44AA99',
        'l': '#EA07C5',
        'la': '#DDCC77',
        's': '#117733',
        'sa': '#882255',
        'ao': '#808080'
    };
</script>
<script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/d3.v5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/d3-beeswarm.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/clipboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
<script src="{{ url_for('static', filename='js/splicegraphs.js') }}"></script>
<script src="{{ url_for('static', filename='js/splicegraphtools.js') }}"></script>
<script src="{{ url_for('static', filename='js/plotOptions.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/violin.js') }}"></script>
<script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>
<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
<script src="{{ url_for('static', filename='js/lsv.js') }}"></script>
<script src="{{ url_for('static', filename='js/copy_lsv.js') }}"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>

{% block script %}{% endblock %}
</html>