{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block header %}
    <div class="content index-header">
        <img src="{{ url_for('static', filename='img/LogoOnly.svg') }}">
        <a href="https://galaxy.biociphers.org/galaxy/root?tool_id=majiq_spel" target="_blank"
           rel="noopener noreferrer">MAJIQ-SPEL</a>

    </div>
    <div class="content messages-header">
        {% if session.get('warnings', []) %}
        <div class="warnings-container">
            <ul>
                {% for warning in session['warnings'] %}
                <li>
                    {{ warning }}
                </li>
                {% endfor %}
            </ul>
            <button type="button" class="close-warnings">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block content %}
    <div class="content">
        {% block filters %}
        {% endblock %}
    </div>
    <div class="lsv-container">
        {% block index_table %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        © BIOCIPHERS · Department of Genetics Perelman School of Medicine Department of Computer and Information Science
        School of Engineering University of Pennsylvania
        <img src="{{ url_for('static', filename='img/penn.jpg') }}">
    </div>
{% endblock %}