{% extends 'base_summary.html' %}

{% block analysis_type_script %}
    <script>
        const view_type = 'dpsi';
        const filter_exon_numbers = {{ filter_exon_numbers|tojson }};

        json_ajax('{{ url_for("main.nav", gene_id=gene.id) }}').then(json => {
            document.querySelector('.prev-gene').addEventListener('click', () => {
                window.location.href = json.prev;
            });

            document.querySelector('.next-gene').addEventListener('click', () => {
                window.location.href = json.next;
            });
        });

        let highlight_lsvs = null;
        const sgLoadPromise = new Promise((resolve, reject) => {
            json_ajax('{{ url_for("main.splice_graph", gene_id=gene.id) }}').then(gene => {
                json_ajax('{{ url_for("main.transcripts", gene_id=gene.id) }}').then(transcripts => {
                    const sgs = new SpliceGraphs('.splice-graph-container', {
                        gene: gene,
                        transcripts: transcripts,
                        remove_img: "{{ url_for('static', filename='img/remove.svg')}}",
                        remove_fn: event => {
                            const sg = event.target.closest('.splice-graph');
                            const grp = sg.dataset.group;
                            const exp = sg.dataset.exp;
                            send_ajax("{{ url_for('main.psi_splice_graphs') }}", {'remove': [grp, exp]}).
                            then(() => {
                                sg.remove();
                                SpliceGraphTools._populate_sg_form();
                            });
                        },
                        download_img: "{{ url_for('static', filename='img/download.svg')}}"});

                    highlight_lsvs = () => {
                        const hl_data = Array.from(document.querySelectorAll('.highlight-form'))
                            .map(f => {
                                const lsv_id = f.closest('tr').querySelectorAll('td')[1].textContent;
                                const highlight = f.querySelector('.highlight').checked;
                                const weighted = f.querySelector('.psi-weighted').checked;
                                return [lsv_id, highlight, weighted];
                            });

                        send_ajax('{{ url_for("main.lsv_highlight") }}', hl_data).then(lsvs => {
                            sgs.highlight(lsvs);
                        })
                    };

                    sgs.init_create().then(s => {
                        new SpliceGraphTools(s, gene, highlight_lsvs);
                        sgs.create_transcripts();
                        resolve();
                    });






                });

            });



        })

        new MutationObserver(mutations => {
                mutations.forEach(m => m.addedNodes
                    .forEach((n, i) => {
                        const tds = n.querySelectorAll('td:not(.dataTables_empty)');

                        if (!tds.length)
                            return;

                        const lsv_id = tds[1].textContent;
                        json_ajax('{{ url_for("main.lsv_data") }}/' + encodeURIComponent(lsv_id))
                            .then(lsv_data => {
                                const lsv = new Lsv(lsv_data);
                                const violin = new Violin(lsv_data.lsv);

                                n.querySelectorAll('.psi-violin-plot')
                                    .forEach(s => {
                                        $(s).hide();
                                        violin.psi(s);
                                    });

                                n.querySelectorAll('.lsv-cartoon')
                                    .forEach(s => lsv.cartoon(s));

                                n.querySelectorAll('.lsv-single-compact-percentiles')
                                    .forEach(s => lsv.draw_lsv_compact_stack_bars(s));

                                n.querySelectorAll('.excl-incl-rect')
                                    .forEach(s => {
                                        lsv.draw_delta_lsv_compact_svg(s);
                                    });

                                n.querySelectorAll('.dpsi-violin')
                                    .forEach(s => {
                                        $(s).hide();
                                        violin.deltapsi(s);
                                    });

                                n.querySelector('.highlight-form').onchange = (event) => {
                                    const input = event.target;
                                    if (input.classList.contains('psi-weighted') && input.checked) {
                                        input
                                            .closest('.highlight-form')
                                            .querySelectorAll('.highlight')
                                            .forEach(hl => hl.checked = true)
                                    }

                                    highlight_lsvs();
                                }

                                if (highlightFirst && i === 0) {
                                    $(n).find('.highlight').prop('checked', true).trigger('change');
                                    highlightFirst = false;
                                } else if (n.querySelector('.highlight').checked === true) {
                                    $(n).find('.highlight').prop('checked', false).trigger('change');
                                }
                            });


                        copy_lsv_modal(n, '{{ url_for("main.copy_lsv") }}/' + encodeURIComponent(lsv_id))

                    })
                );
            })
                .observe(document.querySelector('#results tbody'), {
                    childList: true,
                });



        const lsvLoadPromise = new Promise((resolve, reject) => {
                $('#results').DataTable({
                    autoWidth: false,
                    processing: true,
                    serverSide: true,
                    lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                    order: [[1, "asc"]],
                    ajax: {
                        url: '{{ url_for('main.summary_table', gene_id=gene.id) }}',
                        type: 'POST'
                    },
                    createdRow: function (row, data, index) {
                        $(row).addClass("lsv");
                        row.setAttribute('data-lsv-id', data[1].lsv_id);
                    },
                    columnDefs: [
                        {
                            targets: 0,
                            render: (data, _, cols) => {
                                const form = document.createElement('div');
                                form.classList.add('highlight-form');

                                const h = document.createElement('div');

                                const hl = document.createElement('label');
                                hl.textContent = 'Highlight';

                                const hl_cb = document.createElement('input');
                                hl_cb.classList.add('highlight');
                                hl_cb.setAttribute('type', 'checkbox');
                                if (data[0])
                                    hl_cb.setAttribute('checked', '');

                                hl.appendChild(hl_cb);
                                h.appendChild(hl);

                                const w = document.createElement('div');

                                const wl = document.createElement('label');
                                wl.textContent = 'Weighted';

                                const wl_cb = document.createElement('input');
                                wl_cb.classList.add('psi-weighted');
                                wl_cb.type = 'checkbox';
                                if (data[1])
                                    wl_cb.setAttribute('checked', '');

                                wl.appendChild(wl_cb);
                                w.appendChild(wl);

                                form.appendChild(h);
                                form.appendChild(w);

                                return form.outerHTML
                            }
                        }, {
                            targets: 1,
                            sortable: true,
                            render: (data, i, j, k) => {
                                const container = document.createElement('span');
                                container.textContent = data.lsv_id;
                                $.each(data['junction_coords'], (i, d) => {
                                    const element = document.createElement('span');
                                    element.classList.add('junction-coords');
                                    element.dataset.start = d[0];
                                    element.dataset.end = d[1];
                                    element.style.display = 'none';
                                    container.appendChild(element);
                                })
                                return container.outerHTML;
                            }
                        },  {
                            targets: 2,
                            orderable: false,
                            render: data => {
                                const element = document.createElement('canvas');
                                element.setAttribute('width', '200');
                                element.setAttribute('height', '80');
                                element.classList.add('lsv-cartoon');
                                element.dataset.lsvType = data;
                                return element.outerHTML
                            }
                        },
                        {
                            targets: 4,
                            render: () => {
                                const excl_incl = document.createElement('svg');
                                excl_incl.classList.add('excl-incl-rect');
                                excl_incl.setAttribute('width', '0');
                                excl_incl.setAttribute('height', '0');

                                const dpsi_violin = document.createElement('svg');
                                dpsi_violin.classList.add('dpsi-violin');
                                dpsi_violin.setAttribute('width', '0');
                                dpsi_violin.setAttribute('height', '0');

                                return excl_incl.outerHTML + dpsi_violin.outerHTML;
                            }
                        },
                        {
                            targets: [3, 5],
                            orderable: false,
                            render: data => {
                                const compact = document.createElement('canvas');
                                compact.classList.add('lsv-single-compact-percentiles');
                                compact.dataset.group = data;

                                const violin = document.createElement('svg');
                                violin.classList.add('psi-violin-plot');
                                violin.setAttribute('width', '0');
                                violin.setAttribute('height', '0');
                                violin.dataset.group = data;

                                return compact.outerHTML + violin.outerHTML
                            }
                        },
                        {
                            targets: 6,
                            orderable: false,
                            render: data => {
                                const copy_lsv = document.createElement('button');
                                copy_lsv.textContent = 'Copy LSV';
                                copy_lsv.classList.add('pure-button', 'copy-lsv');

                                const ucsc_a = document.createElement('a');
                                ucsc_a.href = data;
                                ucsc_a.target = '_blank';
                                ucsc_a.rel = "noopener noreferrer";
                                const ucsc_img = document.createElement('img');
                                ucsc_img.src = "{{ url_for('static', filename='img/ucsc.png') }}";
                                ucsc_a.appendChild(ucsc_img);

                                return copy_lsv.outerHTML + ucsc_a.outerHTML
                            }
                        },
                    ],
                    initComplete: function () {
                        resolve();
                    }
                });
            })

        const selected_lsv_id = "{{ selected_lsv_id }}";
        Promise.all([sgLoadPromise, lsvLoadPromise]).then(() => {
          if(selected_lsv_id !== ""){
                setTimeout(function(){
                    $('.highlight').prop('checked', false);
                    $(`.lsv[data-lsv-id="${selected_lsv_id}"] .highlight`).prop('checked', true)
                        .get(0).scrollIntoView({behavior: 'smooth'});
                    highlight_lsvs();
                }, 0)
            }
        });

        $('#results tbody')
            .on('click', '.excl-incl-rect, .dpsi-violin', event => {
                const parent = event.target.closest('td');
                const excl_incl = parent.querySelector('.excl-incl-rect');
                const violin = parent.querySelector('.dpsi-violin');
                $(violin).toggle();
                $(excl_incl).toggle();
            })
            .on('click', '.psi-violin-plot, .lsv-single-compact-percentiles', event => {
                const parent = event.target.closest('td');
                const violin = parent.querySelector('.psi-violin-plot');
                const compact = parent.querySelector('.lsv-single-compact-percentiles');
                $(violin).toggle();
                $(compact).toggle();
            })

    </script>
{% endblock %}

{% block bottom %}
    <div class="lsv-container">
        <div>
            <table id="results" class="pure-table">
                <thead>
                <tr>
                    <th>Highlight</th>
                    <th>LSV ID</th>
                    <th>LSV Type</th>
                    <th>Ψ per Junction</th>
                    <th>∆Ψ per Junction</th>
                    <th>Ψ per Junction</th>
                    <th>Links</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
