{% extends 'base_summary.html' %}

{% block style %}
    {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/multi_input.css') }}">
<style>
    @media print
    {
            html, body{
                height: 100%;
            }
            body{
                -webkit-print-color-adjust: exact;
                background-color:white;
            }
            body * {
                visibility: hidden;
                background-color:white;}
            .content {background-color:white;}
            .bottom {background-color:white;}
            .tools-menu {background-color:white;}
    }

</style>
<style id="printStyle"></style>
{% endblock %}

{% block het_groups_form %}
<div class="tools-menu hide-tools-menu pure-g" id="plot-options-box">
    <div class="pure-u-2-3">
        <form class="groups-control-form pure-form">

            <label>Change group order and display name
                <button type="button" id="showAllGroupNamesButton">Show all</button>
                <button type="button" id="hideAllGroupNamesButton">Hide all</button>
                <button type="button" id="resetGroupNamesButton">Reset</button></label>

            <dl id="group-controls">
            </dl>
        </form>
    </div>


    <div class="pure-u-1-3">
        <label class="heatmap-form-label">LSV display options
        </label>


        <div class="pure-form pure-form-stacked">

            <div class="heatmap-form pure-control-group">
                <div id="heatmap-stat-choices">
                    {% for stat_name in stat_names %}
                    <label for="{{ stat_name }}" class="pure-radio"
                           {% if stat_name == "TNOM" %}
                    title="A rank order statistic. It computes the  lowest Total Number Of Mistakes (TNOM) when setting a threshold over the observed values (PSI) to separate two classes. Given the number of observed values in each class this score can then be translated efficiently to a p-value under a random ordering null hypothesis."
                    {% elif stat_name == "INFOSCORE" %}
                    title="A rank order statistic. Computes the highest mutual information between two class labels and a classification based on a threshold for the observed values (PSI). This score is then translated to a matching p-value under a null of random ordering."
                    {% elif stat_name == "WILCOXON" %}
                    title="The standard ran based statistic where the ranks of observed values (PSI) from each group are summed and compared."
                    {% elif stat_name == "TTEST" %}
                    title="Standard  t-test for whether the mean of the values (PSI) in each group are the same."
                    {% endif %}
                    >
                    <input id="{{ stat_name }}" type="radio" name="stat-name" value="{{ stat_name }}"
                           {% if loop.first %}checked{% endif %}>
                    {{ stat_name }}</label>
                    {% endfor %}
                </div>
            </div>

            <div class="heatmap-scale-form pure-control-group" >

                <label for="dPSI-cutoff">dPSI Scale Cutoff</label>
                <input id="dPSI-cutoff" type="number" min="0.1" step="any"  class="pure-input" style="width:110px;" value="0.5">

            </div>

            <div class="groups-display-form pure-control-group" >
                <div id="lsv-ordering-options">
                    <label>LSV Ordering</label>
                    <label for="lsv-order-exon-num" class="pure-radio">
                        <input id="lsv-order-exon-num" type="radio" name="lsv-order" value="exon-number-idx" checked>
                        Exon Number
                    </label>
                    <label for="lsv-order-type-len" class="pure-radio">
                        <input id="lsv-order-type-len" type="radio" name="lsv-order" value="type-length-idx">
                        Type Length
                    </label>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}


{% block analysis_type_script %}
    <script src="{{ url_for('static', filename='js/lib/jquery.ba-throttle-debounce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/Sortable.min.js') }}"></script>
    <script>
        const view_type = 'het';

        // incase the screen is very small and content in the header takes more vertical space
        // push down the content more so it does not overlap
        $('.content').css('top',$('.gene-header').height() + 60);

        $('#lsv-ordering-options input').click(function(){
            $('.lsv-container').eq(0).sortClass('lsv', $(this).val());
        });

        var hidden_idx = [];
        var group_names = {{ group_names | tojson }};
        {% if session.get('group_order_override', None) %}
            let group_order_override = {{ session['group_order_override'] | tojson }};
        {% else %}
            let group_order_override = null;
        {% endif %}
        {% if session.get('group_display_name_override', None) %}
            let group_display_name_override = {{ session['group_display_name_override'] | tojson }};
        {% else %}
            let group_display_name_override = null;
        {% endif %}
        {% if session.get('group_visibility', None) %}
        let group_visibility = {{ session['group_visibility'] | tojson }};
        {% else %}
        let group_visibility = null;
        {% endif %}




        document.querySelector('#heatmap-stat-choices').addEventListener('change', () => {
            $('.lsv-table').DataTable().ajax.reload();
        });

        function update_heatmap_scale(){
            // we limit minimum to 0.1 smallest possible as discussed
            const dPSI_max = Math.max(parseFloat($('#dPSI-cutoff').val()), 0.1);
            $('#dPSI-cutoff').val(dPSI_max);
            HeatMap.change_axis_scale({'max':dPSI_max, 'min':-1*dPSI_max}, {'max':0, 'min':0});
        }

        $(".heatmap-scale-form input").on('input', ($.debounce(750, function(e) {
            if($('#dPSI-cutoff').val() !== ''){
                update_heatmap_scale();
            }
        })));

        json_ajax('{{ url_for("main.nav", gene_id=gene.id) }}').then(json => {
            document.querySelector('.prev-gene').addEventListener('click', () => {
                window.location.href = json.prev;
            });

            document.querySelector('.next-gene').addEventListener('click', () => {
                window.location.href = json.next;
            });
        });

        json_ajax('{{ url_for("main.splice_graph", gene_id=gene.id) }}').then(gene => {
            const sgs = new SpliceGraphs('.splice-graph-container', {
                gene: gene,
                remove_img: '{{ url_for('static', filename='img/remove.svg')}}',
                remove_fn: event => {
                    const sg = event.target.closest('.splice-graph');
                    send_ajax('{{ url_for('main.psi_splice_graphs') }}', {'remove': [sg.dataset.group, sg.dataset.experiment]})
                        .then(() => {
                            sg.remove();
                            SpliceGraphTools._populate_sg_form();
                        });
                },
                download_img: '{{ url_for('static', filename='img/download.svg')}}'
            });

            const highlight_lsvs = () => {
                const hl_data = Array.from(document.querySelectorAll('.highlight-form'))
                    .map(f => {
                        const lsv_id = f.closest('.lsv').dataset.lsvId;
                        const highlight = f.querySelector('.highlight').checked;
                        const weighted = f.querySelector('.psi-weighted').checked;
                        return [lsv_id, highlight, weighted];
                    });

                send_ajax('{{ url_for("main.lsv_highlight") }}', hl_data).then(lsvs => {
                    sgs.highlight(lsvs);
                })

            };

            sgs.init_create().then(s => new SpliceGraphTools(s, gene, highlight_lsvs));
            const plotOpts = new PlotOptions(gene);

            document.querySelectorAll('.highlight-form')
                .forEach(h => h.addEventListener('change', (event) => {
                    const input = event.target;
                    if (input.classList.contains('psi-weighted') && input.checked) {
                        input
                            .closest('.highlight-form')
                            .querySelectorAll('.highlight')
                            .forEach(hl => hl.checked = true)
                    }

                    highlight_lsvs();
                }));

            $('.lsv-table tbody').on('mouseenter', 'tr', function(){
                const hl_data = [[$(this).closest('.lsv-table').data('lsv-id'), true, false]];
                const junc_coords = $(this).children().eq(0).text().split('-').map(function (x){return parseInt(x, 10)});
                send_ajax('{{ url_for("main.lsv_highlight") }}', hl_data).then(lsvs => {
                    $.each(lsvs, function(i, v){
                        lsvs[i]['junctions'] = lsvs[i]['junctions'].filter(function(junc){return junc[0] === junc_coords[0] && junc[1] === junc_coords[1]});
                        if (!(lsvs[i]['intron_retention'][0] === junc_coords[0] && lsvs[i]['intron_retention'][1] === junc_coords[1])){
                            lsvs[i]['intron_retention'] = [];
                        }
                    });
                    sgs.highlight(lsvs);
                })
            }).on('mouseleave', 'tr', function(){
                highlight_lsvs();
            });

        });

        document.querySelectorAll('.lsv-cartoon').forEach(async function (c) {
            const lsv_id = c.closest('.lsv').dataset.lsvId;
            json_ajax('{{ url_for("main.lsv_data") }}/' + encodeURIComponent(lsv_id))
                .then(lsv_data => {
                    const lsv = new Lsv(lsv_data);
                    lsv.cartoon(c)
                })
        });



        new MutationObserver(mutations => {
            mutations
                .forEach(m => m.addedNodes.forEach(n => {
                    if(n.nodeType === 3){
                        return;
                    }
                    n.querySelectorAll('.violin-download')
                        .forEach(h => {
                            h.onclick = (e) => {
                                const main_svg = $(h).siblings('.psi-violin-plot')[0].outerHTML;
                                const lsv_table = $(h).closest('.lsv-table').eq(0).data('lsv-id');
                                download_svg_elem(main_svg, `violin-${lsv_table}.svg`);
                            }
                        })
                    n.querySelectorAll('.heatmap-download')
                        .forEach(h => {
                            h.onclick = (e) => {
                                const main_svg = $(h).siblings('.heat-map-outer')[0].outerHTML;
                                const lsv_table = $(h).closest('.lsv-table').eq(0).data('lsv-id');
                                download_svg_elem(main_svg, `heatmap-${lsv_table}.svg`);
                            }
                        })
                    n.querySelectorAll('.pairwise-check')
                        .forEach(h => {
                            h.onclick = (e) => {

                                const current = d3.select(h);
                                const main_svg =  d3.select($(h).closest('.psi-violin-plot')[0]);
                                const add_lines = !(current.attr('data-checked') === 'true');
                                const violin_elem = $(h).closest('.psi-violin-plot').find(`.violin[data-group-idx="${$(h).parent().data('group-idx')}"]`)[0];
                                main_svg.select('.overbars').remove();
                                main_svg.selectAll(".pairwise-check")
                                    .attr('data-checked', 'false')
                                    .attr('fill', 'white');
                                if(add_lines){
                                    current.attr('data-checked', 'true');
                                    current.attr('fill', 'black');
                                    // get current index
                                    // add pairwise lines
                                    draw_pairwise_plot(main_svg);

                                    hide_rowcol_highlight(violin_elem);
                                    draw_rowcol_highlight(violin_elem);

                                }else{
                                    main_svg.attr('height', 160);
                                    $(main_svg.node()).children('g').attr('transform', 'translate(40, 5)');
                                    hide_rowcol_highlight(violin_elem);
                                }

                            }
                        })
                    n.querySelectorAll('.heat-map')
                        .forEach(h => {
                            const tool_tip = document.querySelector('.heat-map-tool-tip');
                            h.onmouseover = (e) => {
                                try {
                                    const val = e.target.dataset.value;
                                    if (parseInt(val) !== -1) {

                                        const stat_name = h.dataset.statName;
                                        const col = e.target.dataset.column;
                                        const col_idx = parseInt(e.target.dataset.columnIdx);
                                        const row = e.target.closest('g').dataset.row;
                                        const row_idx = parseInt(e.target.closest('g').dataset.rowIdx);



                                        tool_tip.querySelector('.stat-name').textContent = col_idx - row_idx < 0 ? stat_name : 'Delta PSI';
                                        tool_tip.querySelector('.versus').textContent = `${row}/${col}`;
                                        tool_tip.querySelector('.value').textContent = val;
                                        tool_tip.style.display = 'block';

                                        h.closest('tr')
                                            .querySelectorAll('.x-axis text')
                                            .forEach((l) => {
                                                const idx = parseInt(l.parentNode.getAttribute("data-group-idx"));
                                                if (![col_idx, row_idx].includes(idx))
                                                    l.style.opacity = '.2';
                                                else
                                                    l.style.fontWeight = 900;
                                            });
                                    }
                                } catch (TypeError) {
                                    // pass
                                }
                            };

                            h.onmouseout = () => {
                                tool_tip.style.display = 'none';
                                h.closest('tr')
                                    .querySelectorAll('.x-axis text')
                                    .forEach((l, idx) => {
                                        l.style.opacity = null;
                                        l.style.fontWeight = null;
                                    });
                            };

                            h.onmousemove = (event) => {
                                tool_tip.style.top = (event.pageY - 90) + 'px';
                                tool_tip.style.left = (event.pageX + 10) + 'px';
                            }

                        });

                    n.querySelectorAll('.psi-violin-plot')
                        .forEach(v => {

                            v.querySelectorAll('circle')
                                .forEach(c => {
                                    const tool_tip = document.querySelector('.violin-tool-tip');
                                    c.onmouseover = () => {
                                        c.style.fill = 'orange';
                                        tool_tip.querySelector('.value').textContent = c.dataset.mu;
                                        tool_tip.querySelector('.sample').textContent = c.dataset.expName;
                                        tool_tip.querySelector('.expected').textContent = '';
                                        tool_tip.style.display = 'block';
                                    };
                                    c.onmouseout = () => {
                                        c.style.fill = null;
                                        tool_tip.querySelector('.value').textContent = '';
                                        tool_tip.querySelector('.sample').textContent = '';
                                        //tool_tip.style.display = 'none';
                                    };
                                });

                            v.querySelectorAll('.violin, .swarm-group')
                                .forEach(h => {

                                    const tool_tip = document.querySelector('.violin-tool-tip');
                                    h.onmouseover = () => {
                                        if(!$(h).closest('.psi-violin-plot').find('.pairwise-check[data-checked="true"]').length){
                                            const expected = $(h).data('expected');
                                            if(expected){
                                                tool_tip.querySelector('.expected').textContent = "E(PSI) = " + $(h).data('expected');
                                            }
                                            tool_tip.style.display = 'block';

                                            draw_rowcol_highlight(h);
                                        }
                                    };

                                    h.onmouseout = () => {
                                        if(!$(h).closest('.psi-violin-plot').find('.pairwise-check[data-checked="true"]').length) {
                                            hide_rowcol_highlight(h);
                                        }
                                        tool_tip.style.display = 'none';

                                    }
                                    h.onmousemove = (e) => {
                                        tool_tip.style.top = (e.pageY - 90) + 'px';
                                        tool_tip.style.left = (e.pageX + 10) + 'px';
                                    };
                                })
                        });
                }));
        })
            .observe(document.querySelector('.lsv-container'), {
                childList: true,
                subtree: true
            });

        document.querySelectorAll('.lsv-table')
            .forEach(async function (lsv_table) {
                $(lsv_table).DataTable({
                    autoWidth: false,
                    processing: true,
                    serverSide: true,
                    paging: false,
                    searching: false,
                    info: false,
                    ajax: {
                        url: '{{ url_for('main.summary_table') }}',
                        data: d => {
                            d['lsv_id'] = lsv_table.dataset.lsvId;
                            d['stat_name'] = document.querySelector('input[name=stat-name]:checked').value;
                        },
                        type: 'POST'
                    },
                    columnDefs: [
                        {
                            targets: 1,
                            sortable: false,
                            render: data => {
                                const violin = new Violin(data);
                                const element = document.createElement('svg');
                                element.classList.add('psi-violin-plot');
                                element.setAttribute('width', '0');
                                element.setAttribute('height', '0');

                                violin.heterogen(element);


                                const dlBtn = document.createElement('img');
                                dlBtn.classList.add('violin-download');
                                dlBtn.src = '/static/img/download.svg';
                                dlBtn.height = 16;

                                const container = document.createElement('div');
                                container.appendChild(element);
                                container.appendChild(dlBtn);


                                return container.outerHTML
                            }
                        },
                        {
                            targets: 2,
                            sortable: false,
                            render: data => {
                                const heatmap = new HeatMap(data);
                                const element = document.createElement('svg');

                                heatmap.lsv_id = lsv_table.dataset.lsvId;
                                heatmap.plot(element);

                                if($('#dPSI-cutoff').val() !== DEFAULT_DPSI_MAXVAL){
                                    update_heatmap_scale();
                                }

                                const dlBtn = document.createElement('img');
                                dlBtn.classList.add('heatmap-download');
                                dlBtn.src = '/static/img/download.svg';
                                dlBtn.height = 16;

                                const container = document.createElement('div');
                                container.appendChild(element);
                                container.appendChild(dlBtn);

                                return container.outerHTML;

                            }
                        }
                    ]
                })
            });


        $('#results tbody')
            .on('click', '.excl-incl-rect, .dpsi-violin', event => {
                const parent = event.target.closest('td');
                const excl_incl = parent.querySelector('.excl-incl-rect');
                const violin = parent.querySelector('.dpsi-violin');
                $(violin).toggle();
                $(excl_incl).toggle();
            })
            .on('click', '.psi-violin-plot, .lsv-single-compact-percentiles', event => {
                const parent = event.target.closest('td');
                const violin = parent.querySelector('.psi-violin-plot');
                const compact = parent.querySelector('.lsv-single-compact-percentiles');
                $(violin).toggle();
                $(compact).toggle();
            });

        document.querySelectorAll('.lsv')
            .forEach(l => {
                const lsv_id = l.dataset.lsvId;
                copy_lsv_modal_dropdown(l, '{{ url_for("main.copy_lsv") }}/' + encodeURIComponent(lsv_id))
            })

        $('.save-lsv').click(function(){
            var lsv_id = $(this).closest('.lsv').find('.lsv-table').attr('data-lsv-id');
            // 670 px is supposed to be the 'safe' value to use for a sheet of letter paper
            // (as this is using the print preview mode)
            var zoom = 670.0 / $(this).closest('.lsv').find('.lsv-table').width();

            var printStyle = "@media print {" +
                `    table[data-lsv-id="${lsv_id}"] *` +
                "    { visibility: visible !important;}" +
                `    table[data-lsv-id="${lsv_id}"] {` +
                "        visibility: visible !important;" +
                "        position:fixed;" +
                "        top:0;" +
                "        left:0;" +
                "        z-index: 999;" +
                `        zoom: ${zoom};` +
                "         }" +
                "    }";
            $('#printStyle').text(printStyle)

            window.print()

        })

    </script>
{% endblock %}

{% block bottom %}

    <div class="heat-map-tool-tip" style="display: none;">
        <div class="versus"></div>
        <div class="stat-name"></div>
        <div class="value"></div>
    </div>

    <div class="violin-tool-tip" style="display: none;">
        <div class="sample"></div>
        <div class="value"></div>
        <div class="expected"></div>
    </div>

    <div class="lsv-container">
        {% for lsv_id, lsv_type, exon_number, exon_number_idx, type_length_idx in lsv_data %}
            <div class="lsv" data-exon-number="{{ exon_number }}" data-lsv-id="{{ lsv_id }}" data-exon-number-idx="{{ exon_number_idx }}"
                 data-type-length-idx="{{ type_length_idx }}">
                <div class="lsv-header ">
                    <div class="highlight-form">
                        <div>
                            <label>
                                Highlight
                                <input class="highlight" type="checkbox">
                            </label>
                        </div>
                        <div>
                            <label>
                                Weighted
                                <input class="psi-weighted" type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <canvas class="lsv-cartoon" width="200" height="80" data-lsv-type="{{ lsv_type }}"></canvas>
                    </div>
                    <div>
                        {{ lsv_id }}
                        <div class="pure-control-group">
                            <button type="button" class="pure-button save-lsv">Print / Save LSV</button>
                        </div>
                    </div>

                    <div>
                        <form class="pure-form pure-form-aligned">
                            <fieldset>
                                <div class="pure-control-group">
                                    <select class="copy-lsv">
                                        <option>Copy LSV</option>
                                        {% for grp in group_names %}
                                            <option value="{{ grp }}">{{ grp }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                        <a href="{{ ucsc[lsv_id] }}" target="_blank" rel="noopener noreferrer"><img
                                src="{{ url_for('static', filename="img/ucsc.png") }}"></a>
                    </div>
                </div>
                <table class="pure-table lsv-table" data-lsv-id="{{ lsv_id }}">
                    <thead>
                    <tr>
                        <th>Coordinates</th>
                        <th>Violin</th>
                        <th>Heat Map</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
