{% extends 'base_summary.html' %}

{% block style %}
    {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/sumoselect.min.css') }}">

<style>

</style>
{% endblock %}




{% block analysis_type_script %}

    <script src="{{ url_for('static', filename='js/lib/jquery.sumoselect.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.ba-throttle-debounce.min.js') }}"></script>
    <script>
        // this stores a map of exon numbers so that we can map from the splicegraph numbers to
        // the LSV ID to search for


        const view_type = 'psi';
        const filter_exon_numbers = {{ filter_exon_numbers|tojson }};


        json_ajax('{{ url_for("main.nav", gene_id=gene.id) }}').then(json => {
            document.querySelector('.prev-gene').addEventListener('click', () => {
                window.location.href = json.prev;
            });

            document.querySelector('.next-gene').addEventListener('click', () => {
                window.location.href = json.next;
            });
        });

        json_ajax('{{ url_for("main.splice_graph", gene_id=gene.id) }}').then(gene => {
            json_ajax('{{ url_for("main.splice_graph_lr", gene_id=gene.id) }}').then(gene_lr => {
                json_ajax('{{ url_for("main.splice_graph_combined", gene_id=gene.id) }}').then(gene_c => {
                    // console.log('gene', gene);
                    // console.log('gene_lr', gene_lr);
                    // console.log('gene_c', gene_c);
                    const sgs = new SpliceGraphs('.splice-graph-container', {
                        gene: gene,
                        gene_lr: gene_lr,
                        gene_c: gene_c,
                        remove_img: "{{ url_for('static', filename='img/remove.svg')}}",
                        remove_fn: event => {
                            const sg = event.target.closest('.splice-graph');
                            send_ajax("{{ url_for('main.psi_splice_graphs') }}", {'remove': [sg.dataset.group, sg.dataset.experiment]})
                                .then(() => {
                                    sg.remove();
                                    SpliceGraphTools._populate_sg_form();
                                });
                        },
                        download_img: "{{ url_for('static', filename='img/download.svg') }}",
                        resize_img: "{{ url_for('static', filename='img/resize.svg') }}"
                    });

            highlight_lsvs = () => {
                const hl_data = Array.from(document.querySelectorAll('.highlight-form'))
                    .map(f => {

                        const lsv_id = f.closest('tr').querySelectorAll('td')[1].textContent;

                        const highlight = f.querySelector('.highlight').checked;
                        const weighted = f.querySelector('.psi-weighted').checked;
                        return [lsv_id, highlight, weighted];
                    });

                send_ajax('{{ url_for("main.lsv_highlight") }}', hl_data).then(lsvs => {
                    sgs.highlight(lsvs);
                })
            };

            sgs.init_create().then(s => {
                new SpliceGraphTools(s, gene, highlight_lsvs);
                // When elements are hovered over and hidden, a problem that can happen is that the area will scroll violently due to the height change
                // To mitigate this we fix the height of the splice graphs container
                $('.splice-graph-container').css('min-height', $('.splice-graph-container').height() + 'px');
            });

            document.querySelectorAll('.lsv-cartoon').forEach(async function (c) {
                const lsv_id = c.closest('.lsv').dataset.lsvId;
                json_ajax('{{ url_for("main.lsv_data") }}/' + encodeURIComponent(lsv_id))
                    .then(lsv_data => {
                        const lsv = new Lsv(lsv_data);
                        lsv.cartoon(c)
                    })
            });

            new MutationObserver(mutations => {
                mutations.forEach(m => m.addedNodes
                    .forEach((n, i) => {
                        const tds = n.querySelectorAll('td:not(.dataTables_empty)');

                        if (!tds.length)
                            return;



                        const lsv_id = tds[1].textContent;
                        json_ajax('{{ url_for("main.lsv_data") }}/' + encodeURIComponent(lsv_id))
                            .then(all_lsv_data => {
                                const lsv_data = all_lsv_data[0];
                                const lr_lsv_data = all_lsv_data[1];

                                const lsv = new Lsv(lsv_data);

                                const violin = new Violin(lsv_data.lsv);
                                lsv.cartoon(n.querySelector('.lsv-cartoon'));

                                const s = n.querySelector('.psi-violin-plot');
                                lsv.draw_lsv_compact_stack_bars(n.querySelector('.lsv-single-compact-percentiles'));
                                $(s).hide();
                                violin.psi(s);

                                if(lr_lsv_data){
                                    const lr_lsv = new Lsv(lr_lsv_data);
                                    const lr_violin = new Violin(lr_lsv_data.lsv);

                                    const lr_s = n.querySelector('.lr-psi-violin-plot');
                                    lr_lsv.draw_lsv_compact_stack_bars(n.querySelector('.lr-lsv-single-compact-percentiles'));
                                    $(lr_s).hide();
                                    lr_violin.psi(lr_s);
                                }

                            });

                        n.querySelector('.highlight-form').onchange = (event) => {

                            const input = event.target;
                            if (input.classList.contains('psi-weighted') && input.checked) {
                                input
                                    .closest('.highlight-form')
                                    .querySelectorAll('.highlight')
                                    .forEach(hl => hl.checked = true)
                            }
                            highlight_lsvs();
                        };

                        if(highlightFirst && i === 0){
                            $(n).find('.highlight').prop('checked', true).trigger('change');
                            highlightFirst = false;
                        }else if(n.querySelector('.highlight').checked === true){
                            $(n).find('.highlight').prop('checked', false).trigger('change');
                        }

                        copy_lsv_modal(n, '{{ url_for("main.copy_lsv") }}/' + encodeURIComponent(lsv_id))
                    })
                );
            })
                .observe(document.querySelector('#results tbody'), {
                    childList: true,
                });

            let columnDefs = [
                    {
                        targets: 0,
                        render: data => {
                            const form = document.createElement('div');
                            form.classList.add('highlight-form');

                            const h = document.createElement('div');

                            const hl = document.createElement('label');
                            hl.textContent = 'Highlight';

                            const hl_cb = document.createElement('input');
                            hl_cb.classList.add('highlight');
                            hl_cb.setAttribute('type', 'checkbox');
                            if (data[0])
                                hl_cb.setAttribute('checked', '');

                            hl.appendChild(hl_cb);
                            h.appendChild(hl);

                            const w = document.createElement('div');

                            const wl = document.createElement('label');
                            wl.textContent = 'Weighted';

                            const wl_cb = document.createElement('input');
                            wl_cb.classList.add('psi-weighted');
                            wl_cb.type = 'checkbox';
                            if (data[1])
                                wl_cb.setAttribute('checked', '');

                            wl.appendChild(wl_cb);
                            w.appendChild(wl);

                            form.appendChild(h);
                            form.appendChild(w);

                            return form.outerHTML
                        },
                    }, {
                        targets: 1,
                        sortable: true,
                        render: (data, i, j, k) => {
                            const container = document.createElement('span');
                            container.textContent = data.lsv_id;
                            $.each(data['junction_coords'], (i, d) => {
                                const element = document.createElement('span');
                                element.classList.add('junction-coords');
                                element.dataset.start = d[0];
                                element.dataset.end = d[1];
                                element.style.display = 'none';
                                container.appendChild(element);
                            })
                            return container.outerHTML;
                        }
                    },  {

                        targets: 2,
                        sortable: false,
                        render: data => {
                            const element = document.createElement('canvas');
                            element.setAttribute('width', '200');
                            element.setAttribute('height', '80');
                            element.classList.add('lsv-cartoon');
                            element.dataset.lsvType = data;
                            return element.outerHTML
                        }
                    },
                    {
                        targets: 3,
                        sortable: false,
                        render: data => {
                            const compact = document.createElement('canvas');
                            compact.classList.add('lsv-single-compact-percentiles');
                            compact.dataset.group = data;

                            const violin = document.createElement('svg');
                            violin.classList.add('psi-violin-plot');
                            violin.setAttribute('width', '0');
                            violin.setAttribute('height', '0');
                            violin.dataset.group = data;

                            return compact.outerHTML + violin.outerHTML
                        }
                    }
                ]
            if(longread_enabled){
                columnDefs.push(
                    {
                        targets: 4,
                        sortable: false,
                        render: data => {
                            const compact = document.createElement('canvas');
                            compact.classList.add('lr-lsv-single-compact-percentiles');
                            compact.dataset.group = data;

                            const violin = document.createElement('svg');
                            violin.classList.add('lr-psi-violin-plot');
                            violin.setAttribute('width', '0');
                            violin.setAttribute('height', '0');
                            violin.dataset.group = data;

                            return compact.outerHTML + violin.outerHTML
                        }
                    }
                )
            }
            columnDefs.push(
                {
                    targets: longread_enabled ? 5 : 4,
                    sortable: false,
                    render: data => {
                        const btn = document.createElement('button');
                        btn.textContent = 'Copy LSV';
                        btn.classList.add('pure-button', 'copy-lsv');

                        const ucsc_a = document.createElement('a');
                        ucsc_a.href = data;
                        ucsc_a.target = '_blank';
                        ucsc_a.rel = "noopener noreferrer";
                        const ucsc_img = document.createElement('img');
                        ucsc_img.src = "{{ url_for('static', filename='img/ucsc.png') }}";
                        ucsc_a.appendChild(ucsc_img);

                        return btn.outerHTML + ucsc_a.outerHTML
                    }
                }
            )

            $('#results').DataTable({
                autoWidth: false,
                processing: true,
                serverSide: true,
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                order: [[1, "asc"]],
                ajax: {
                    url: "{{ url_for('main.summary_table', gene_id=gene.id) }}",
                    type: 'POST'
                },
                createdRow: function (row, data, index) {
                    $(row).addClass("lsv");
                },
                columnDefs: columnDefs
            });
            });
            });
        });

        $('#results tbody')
            .on('click', '.psi-violin-plot, .lsv-single-compact-percentiles', event => {
                const parent = event.target.closest('td');
                const violin = parent.querySelector('.psi-violin-plot');
                const compact = parent.querySelector('.lsv-single-compact-percentiles');
                $(violin).toggle();
                $(compact).toggle();
            })
        $('#results tbody')
            .on('click', '.lr-psi-violin-plot, .lr-lsv-single-compact-percentiles', event => {
                const parent = event.target.closest('td');
                const violin = parent.querySelector('.lr-psi-violin-plot');
                const compact = parent.querySelector('.lr-lsv-single-compact-percentiles');
                $(violin).toggle();
                $(compact).toggle();
            })

        //setTimeout(function(){$('#londread_submit').click()}, 700);




    </script>
{% endblock %}

{% block bottom %}

    <div class="lsv-container">
        <div>
            <table id="results" class="pure-table">
                <thead>
                <tr>
                    <th>Highlight</th>
                    <th>LSV ID</th>
                    <th>LSV Type</th>
                    <th>Ψ per Junction</th>
                    {% if vconf["long_read_file"] %}
                        <th>LR Ψ per Junction</th>
                    {% endif %}
                    <th>Links</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
