{% extends 'base_index.html' %}

{% block script %}
    <script>

        const view_type = 'psi';

        new MutationObserver(mutations => {
            mutations.forEach(m => m.addedNodes
                .forEach(n => {
                    const tds = n.querySelectorAll('td:not(.dataTables_empty)');

                    if (!tds.length)
                        return;

                    const lsv_id = tds[1].textContent;


                    json_ajax('{{ url_for("main.lsv_data") }}/' + encodeURIComponent(lsv_id)).then(all_lsv_data => {

                        const lsv_data = all_lsv_data[0];
                        const lr_lsv_data = all_lsv_data[1];

                        const lsv = new Lsv(lsv_data);
                        lsv.cartoon(n.querySelector('.lsv-cartoon'));

                        const violin = new Violin(lsv_data.lsv);
                        const s = n.querySelector('.psi-violin-plot');
                        lsv.draw_lsv_compact_stack_bars(n.querySelector('.lsv-single-compact-percentiles'));
                        violin.psi(s);
                        $(s).hide();

                        if(lr_lsv_data){
                            const lr_lsv = new Lsv(lr_lsv_data);
                            const lr_violin = new Violin(lr_lsv_data.lsv);

                            const lr_s = n.querySelector('.lr-psi-violin-plot');
                            lr_lsv.draw_lsv_compact_stack_bars(n.querySelector('.lr-lsv-single-compact-percentiles'));
                            $(lr_s).hide();
                            lr_violin.psi(lr_s);
                        }
                    });

                    copy_lsv_modal(n, '{{ url_for("main.copy_lsv") }}/' + encodeURIComponent(lsv_id))
                })
            );
        })
            .observe(document.querySelector('#results tbody'), {
                childList: true,
            });

        const form_to_json = (json_data) => {
            $('.lsv-filters')
                .serializeArray()
                .map(d => {
                    json_data[`lsv_filter[${d.name}]`] = d.value
                });
        };

        let columnDefs = [
            {
                targets: 0,
                render: (data, _, cols) => {
                    const element = document.createElement('a');
                    const lsv_id = cols[1];
                    element.href = data.href + `?lsv_id=${lsv_id}`;
                    element.target = '_blank';
                    element.rel = "noopener noreferrer";
                    element.textContent = data.gene_name + ' ⎆';
                    element.classList.add('pure-button');
                    element.classList.add('pure-button-primary');
                    element.title = `Analyze gene ${data.gene_name} in depth`;
                    element.style = "font-size: 150%; background-color: #009be7;";
                    return element.outerHTML
                }
            },
            {
                targets: 2,
                sortable: false,
                render: data => {
                    const element = document.createElement('canvas');
                    element.setAttribute('width', '200');
                    element.setAttribute('height', '80');
                    element.classList.add('lsv-cartoon');
                    element.dataset.lsvType = data;
                    return element.outerHTML
                }
            },
            {
                targets: 3,
                sortable: false,
                render: data => {
                    const compact = document.createElement('canvas');
                    compact.classList.add('lsv-single-compact-percentiles');
                    compact.dataset.group = data;

                    const violin = document.createElement('svg');
                    violin.classList.add('psi-violin-plot');
                    violin.setAttribute('width', '0');
                    violin.setAttribute('height', '0');
                    violin.dataset.group = data;

                    return compact.outerHTML + violin.outerHTML
                }
            },

        ]
        if(longread_enabled){
            columnDefs.push(
                {
                    targets: 4,
                    sortable: false,
                    render: data => {
                        const compact = document.createElement('canvas');
                        compact.classList.add('lr-lsv-single-compact-percentiles');
                        compact.dataset.group = data;

                        const violin = document.createElement('svg');
                        violin.classList.add('lr-psi-violin-plot');
                        violin.setAttribute('width', '0');
                        violin.setAttribute('height', '0');
                        violin.dataset.group = data;

                        return compact.outerHTML + violin.outerHTML
                    }
                }
            )
        }
        columnDefs.push(
             {
                targets: longread_enabled ? 5 : 4,
                sortable: false,
                render: data => {
                    const copy_lsv = document.createElement('button');
                    copy_lsv.textContent = 'Copy LSV';
                    copy_lsv.classList.add('pure-button', 'copy-lsv');

                    const ucsc_a = document.createElement('a');
                    ucsc_a.href = data;
                    ucsc_a.target = '_blank';
                    ucsc_a.rel = 'noopener noreferrer';
                    const ucsc_img = document.createElement('img');
                    ucsc_img.src = '{{ url_for('static', filename="img/ucsc.png") }}';
                    ucsc_a.appendChild(ucsc_img);

                    return copy_lsv.outerHTML + ucsc_a.outerHTML
                }
            }
        )

        const $results = $('#results').DataTable({
            processing: true,
            serverSide: true,
            autoWidth: false,
            lengthMenu: [[10, 25, 50, 100, 1000], [10, 25, 50, 100, 1000]],
            ajax: {
                url: '{{ url_for("main.index_table") }}',
                type: 'POST',
                data: json_data => form_to_json(json_data)
            },
            columnDefs: columnDefs
        });

        let to;
        const reload_table = () => {
            clearTimeout(to);
            to = setTimeout(() => {
                $results.ajax.reload()
            }, 400);
        };


        function download(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }

        document.querySelector('.lsv-filters').onchange = reload_table;


        document.querySelector('.download-lsvs').onclick = (event) => {
            event.preventDefault();

            const search = document.querySelector('.lsv-container input[type=search]');
            const form_data = {};
            form_to_json(form_data);
            form_data['search[value]'] = search.value;

            send_form_ajax('{{ url_for("main.download_lsvs") }}', $.param(form_data))
                .then(data => download('lsvs.txt', data));
        };

        document.querySelector('.download-genes').onclick = (event) => {
            event.preventDefault();

            const search = document.querySelector('.lsv-container input[type=search]');
            const form_data = {};
            form_to_json(form_data);
            form_data['search[value]'] = search.value;

            send_form_ajax('{{ url_for("main.download_genes") }}', $.param(form_data))
                .then(data => download('genes.txt', data));
        };

        $('#results tbody')
            .on('click', '.psi-violin-plot, .lsv-single-compact-percentiles', event => {
                const parent = event.target.closest('td');
                const violin = parent.querySelector('.psi-violin-plot');
                const compact = parent.querySelector('.lsv-single-compact-percentiles');
                $(violin).toggle();
                $(compact).toggle();
            })
        $('#results tbody')
            .on('click', '.lr-psi-violin-plot, .lr-lsv-single-compact-percentiles', event => {
                const parent = event.target.closest('td');
                const violin = parent.querySelector('.lr-psi-violin-plot');
                const compact = parent.querySelector('.lr-lsv-single-compact-percentiles');
                $(violin).toggle();
                $(compact).toggle();
            })

    </script>
{% endblock %}

{% block filters %}
    <form class="lsv-filters pure-form pure-form-aligned">
        <fieldset>
            <legend>LSV Filters</legend>
            <div class="pure-g">
                {% for field in form %}
                    {% if field.type != 'CSRFTokenField' %}
                        <div class="pure-u-1-3">
                            {{ field }}
                            {{ field.label }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </fieldset>
    </form>

    <hr>

    <form class="psi-filters pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-g">
                <div class="pure-u-1-4">
                    <button type="submit" class="download-lsvs pure-button pure-button-primary">Download LSVs
                    </button>
                </div>

                <div class="pure-u-1-4">
                    <button type="submit" class="download-genes pure-button pure-button-primary">Download Genes
                    </button>
                </div>

            </div>
        </fieldset>
    </form>
{% endblock %}

{% block index_table %}
    <div class="lsv-container">
        <div>
            <table id="results" class="pure-table">
                <thead>
                <tr>
                    <th>Gene Name</th>
                    <th>LSV ID</th>
                    <th>LSV Type</th>
                    <th>Ψ per Junction</th>
                    {% if vconf["long_read_file"] %}
                        <th>LR Ψ per Junction</th>
                    {% endif %}
                    <th>Links</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}