{% extends 'base_summary.html' %}

{% block analysis_type_script %}

    <script>
        const view_type = 'sg';

        json_ajax('{{ url_for("main.nav", gene_id=gene.id) }}').then(json => {
            document.querySelector('.prev-gene').addEventListener('click', () => {
                window.location.href = json.prev;
            });

            document.querySelector('.next-gene').addEventListener('click', () => {
                window.location.href = json.next;
            });
        });

        json_ajax('{{ url_for("main.splice_graph", gene_id=gene.id) }}').then(gene => {

            const sgs = new SpliceGraphs('.splice-graph-container', {
                gene: gene,
                remove_img: '{{ url_for('static', filename='img/remove.svg')}}',
                remove_fn: event => {
                    const sg = event.target.closest('.splice-graph');
                    send_ajax('{{ url_for('main.psi_splice_graphs') }}', {'remove': [sg.dataset.group, sg.dataset.experiment]})
                        .then(() => {
                            sg.remove();
                            SpliceGraphTools._populate_sg_form();
                        });
                }
            });

            sgs.init_create().then(s => new SpliceGraphTools(s, gene));

        });


    </script>
{% endblock %}

{% block bottom %}
{% endblock %}
