/build/
*.egg-info
/src/new_majiq/internals.cpython*.so
/src/new_majiq/beta_mixture.cpython*.so
/src/new_majiq/_stats.cpython*.so
/src/new_majiq/_offsets.cpython*.so
/src/new_majiq/sampling.cpython*.so
/src/new_majiq/_version.py
/doc/build/
/doc/source/generated/
/tests/data/het_vignette/
