# This file is redundant with setup.cfg;
# It exists to note direct dependencies for both setup and installation in case
# users need it for debugging.

# setup
setuptools >= 45
wheel
Cython == 0.29.32
setuptools_scm >= 6.2

# setup and installation
numpy >= 1.21

# installation
scipy >= 1.4.1
smmap2 == 2.0.5
rna_voila
